<html>
<body style="background : #eee;font-family : Calibri;padding : 30px; text-align : center;">
    <img width="305" height="100" style="display : block; margin : auto;width : 300px" src="https://<%=url %>/assets/images/logo.png" />
    <div style="width: 600px;padding: 14px;background-color: #fff;box-shadow: 0px 0px 4px -1px #aaa;margin: 40px auto;text-align : center;">
        <br/><br/>
        <h2>Réinitialisation de mot de passe</h2>

        Une demande de réinitialisation de votre mot de passe a été enregistrée pour votre compte. Si vous êtes à l'origine de cette requête, veuillez cliquer sur le lien ci-dessous.
        <br/><br/>
        <a href="http://<%=url %>/resetPassword/<%=token %>" >Rénitialiser mon mot de passe</a>

        <br/><br/>
    </div>
</body>

</html>
